/* *{
    background-color: palevioletred;
}
h1{
    color: blue;
}
button{
    color: white;
    background-color: blue;
} */
/* .box{
   height: 100px;
   width: 100px;
   border: 1px solid black; 
   margin: 10px;
   text-align: center;
   background-color: aquamarine;
} */

/* .para{
    color: red;
}

.newPara{
    background-color: blue
} */
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.hello{
    background-color: blueviolet;
    border: 1px solid black;
}